html {
    overflow: none;
}
/*Header CSS*/
header {
    display: flex;
    justify-content: center;
    flex-flow: row;
    position: relative;
    /*background-image: url('../assets/gifs/coding.gif');*/
    /*background-color:  rgba(0, 0, 0, .5);*/
    overflow: hidden;
    /*color: rgba(255, 255, 255, 0.4);*/
    height: 100vh;
  
    
}

h1#name {
    font-size: 5em;
    color: rgba(0, 209, 178, 0.7);
    filter: grayscale(40%)

     
}

div.header-content {
    width: 100%;
    text-align: center;
    margin: 14% 0% 5% 0%;
    position: absolute;
}
div#particles-js{
    width: 100%;
}


a.button.is-primary{
     transition: background-color 450ms ease-in-out;
     opacity: 0.9;
    filter: grayscale(40%);
     
}

a.button.is-primary:hover{
    background-color: rgba(7, 28, 127, 0.7); 
    cursor: pointer; 
} 

section {
    padding: 7% 0% 7% 0%;
    /*transform: rotate(-10deg) scale(1); */
}

section .section-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /*transform: rotate(10deg);*/
}
/*Nav Section*/

nav {
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    width: 100vw;
    z-index: 999;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
}

nav .pageNav li {
    padding: 20px;
    list-style-type: none;
    text-transform: uppercase;
}

nav .pageNav {
    display: flex;
    justify-content: space-around;
}

li a {
    display: block;
    margin: 0%;
    padding: 0%;
    transition: all 250ms ease-in-out;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover {
    color: #f1f1f1;
    
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sideNav-button {
    position: fixed;
    display: flex;
    bottom: 94%;
    left: 0%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    z-index: 1;
    
}


.faded {
    opacity: 0;
    transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
}

.fade {
    opacity: 1;
    transition: opacity 0.6s ease-out;
    -ms-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -webkit-transition: opacity 0.6s ease-out;
}


div.column {
    text-align: center;
}

h1.section-title {
    text-align: center;
}

section.skills {
    background: rgba(65, 217, 194, 0.4);
    transform: rotate(-8deg) scale(1.2);
    padding: 15% 5% 15% 5%;
}

div.section-content.skills {
    transform: rotate(8deg);
}

h1#skills {
    transform: rotate(8deg)
}

div#body-wrapper {
    overflow-x: hidden;
}
/* About me */
p#AboutMePara{
    font-weight: 500;
    font-size: 24pt;
}
/* Contact form  */
form#contact-form{
    display: block;
    margin: 0 auto;
    width: 50vw;    
    
}
h1.contact{
    text-align: center;
    font-weight: 500;
    font-size: 21pt;
    margin-bottom: 20px;
}

div#contactDiv{
    flex-direction: column;
    justify-content: center;
}

p.button-centered{
    text-align: center;
}